body {
	padding-top: 20px;
	padding-bottom: 20px;	
}

/* 60 pixels of space instead of <br> */
div.space {
	margin-top: 60px;
}

/* add some scroll space at the bottom */
div.gooch {
	margin-bottom: 180px;
}

/* small font size */
.small {
	font-size: 50%;
}

/* only allow vertical resize of textareas */
textarea {
	resize: vertical;
}

/** resize headers for responsive shit */
@media screen and (min-width: 768px) {
	.header {
		margin-bottom: 30px;
	}
}

.header {
	border-bottom: 1px solid #ccc;
}

.header h3 {
	padding-bottom: 19px;
	margin-top: 0;	
	margin-bottom: 0;
	line-height: 40px;
}