/* 60 pixels of space instead of <br> */
div.space {
	margin-top: 60px;
}

/* add some scroll space at the bottom */
div.gooch {
	margin-bottom: 180px;
}

/* small font size */
.small {
	font-size: 50%;
}

textarea {
	resize: vertical;
}